html,
body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(9, 111, 100, 0.292);
}

button {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

h2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.disabled {
  cursor: not-allowed;
}

@media screen and (min-width: 740px) {
  .container {
    width: 400px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 3px 6px black;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
